name: CI

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: "Build, lint and test using cargo"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build
      run: cargo build --verbose

    - name: Lint with clippy
      run: cargo clippy

    - name: Run tests
      run: cargo test --verbose
